* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(https://img.freepik.com/fotos-gratis/mulher-com-oculos-de-vr-flutua-no-espaco-de-neon-com-cabos-anexados-a-ela-conceito-de-avatar-do-metaverso_1217-3926.jpg?t=st=1657675811~exp=1657676411~hmac=6b964dcf85caac0aaf8c21c2f712f9da1a231d1b85e66c9dc1d469f0bf4a46cf&w=996);*/
  background-image: url(./img/background\ ui.jpg);
  background-size: auto;
  background-position: -44vw;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.Container {
  text-align: center;
  width: 300px;
  margin: 65px auto;
  /* glassmorphism */
  background: rgba(231, 231, 231, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(231, 231, 231, 0.16);
}

.perfil {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #fafafa;
  padding: 3.6px;
  margin-top: 28px;
  display: inline;
}

.nickname {
  color: #fafafa;
  font-weight: 400;
  opacity: 0.6;
  font-size: 18px;
  transition: opacity 250ms;
  margin-top: 14px;
  margin-bottom: 28px;
}

.nickname:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
}

.icones {
  width: 24px;
  height: 24px;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  margin-right: 10px;
  filter: invert(100%);
}

ul {
  list-style: none;
  margin-right: 28px;
  margin-left: 28px;
  margin-bottom: 32px;
}
/* 53px */

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25%;
  border: 2.8px solid rgb(247, 247, 247);
  font-weight: 700;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 350ms;
}

ul li a:hover {
  background-color: #724a9e;
}

footer {
  transition: opacity, font-size 400ms;
  margin-bottom: 18px;
  color: #fafafa;
  opacity: 0.6;
  font-size: 12px;
  font-weight: 400;
}

footer:hover {
  opacity: 1;
  font-size: 13px;
  color: #ffffff;
}
